extends layout

block content
  h1 Welcome to #{title}
  p We're happy to have you here!
  - var list = ["Uno", "Dos", "Tres"]
  .div(style="display: flex;flex-direction: column")
    each item in list
      textarea= item
      br
  p Have fun creating your own graphs!
