:root {
  --black: #2D3239;
  --black-2: #5d636b;
  --black-3: #dde0e4;
  --black-4: #FAFAFA;
  --light-black: rgba(38,45,90,0.5);
  --primary: #1B4965;
  --secondary: #78E3FD;
  --red: #C80421;
  --yellow: #f4be40;
  --green: #3be8b0;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Oxygen', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: 'Oxygen', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  font-family: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
